@font-face {
  font-family: "Mitr";
  src: url("./assets/design/fonts/Mitr-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Mitr";
  src: url("./assets/design/fonts/Mitr-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Mitr";
  src: url("./assets/design/fonts/Mitr-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Mitr";
  src: url("./assets/design/fonts/Mitr-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Mitr";
  src: url("./assets/design/fonts/Mitr-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Mitr";
  src: url("./assets/design/fonts/Mitr-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Mitr", system-ui, sans-serif;
  font-weight: 400;
}

[data-bs-theme] {
  font-family: "Mitr", system-ui, sans-serif !important;
  font-weight: 400;
}

/* navbar */
.navbar-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  transition: all 5s ease;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-placeholder {
  height: 70px;
}

.Header {
  padding-top: 70px;
}

/* sidebar */
.transition-all {
  transition: all 0.3s ease;
}
