.notfound-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 3d text */
.notfound-text {
  font-size: clamp(2rem, 7vw, 6rem);
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.15em;
  color: #fff;

  text-shadow:
    1px 1px 0 #999,
    2px 2px 0 #888,
    3px 3px 0 #777,
    4px 4px 0 #666,
    6px 6px 20px rgba(0, 0, 0, 0.9);
}

.notfound-content {
  position: relative;
  z-index: 1;
  text-align: center;
}